/* loading */
body .body {
    display:none;
}
body.body .body {
    display:flex;
    height: 100vh;
    flex-flow: column;
}
body.body .loading {
    display:none;
}
/* layout */

:root {
    --primary-color: #0069d9;
    --secondary-color: #333;
    --button-color: #0069d9;
    --button-font-color: #fff;
    --button-hover-color: #008dd9;
    --white: #fff;
    --border-light-grey: #efefef;
    --danger: #dc3545;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    color: var(--secondary-color);
}

.body .header {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #cecece;
}

.body .header .logo {
    border: 1px solid transparent;
    cursor: pointer;
}

.body .header .logo:hover {
    border-color: var(--primary-color);
}

.body .header .logo span:first-child {
    font-size: 30px;
    color: var(--primary-color);
}

.body .header .logo span:last-child {
    font-size: 12px;
}

.body .header .searchfield {
    flex-grow: 1;
}

.body .header .searchfield input {
    width: 100%;
    padding: 10px;
}

.body .content {
    flex-grow: 1;
    overflow: auto;
}

.body .content .articles-content {
    margin: auto;
    width: 1024px;
}

.body .footer {
    background: white;
    padding: 10px;
    text-align: center;
    background: var(--secondary-color);
    color: white;
    font-size: 12px;
}

input:not(input[type=checkbox],input[type=radio]),
select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--border-light-grey);
    padding: 15px;
    margin: 10px 0;
}

.handled input:not(input[type=checkbox],input[type=radio]):invalid,
.handled select:invalid {
    border-bottom-color: var(--danger);
}

.button {
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    background: var(--button-color);
    color: var(--button-font-color);
    display: inline-block;
}

.button:hover {
    background: var(--button-hover-color);
}