<script type="template">
    @Click(handler=toCart)
    <div class="card-header">
        <a href="#">
            <span>(${cart.length})</span>
            <span>Cart</span>
        </a>
    </div>
</script>

<script>
    class CartHeader extends HTMLDecorators.Component {

        initializeData() {

        }

        toCart() {
            this.broadcast('goToCart');
        }

        updated() {
            this.on('cart-header-update', function () {
                this.render();
            }.bind(this));
            this.on('cart-header-add', function(item) {
                var data = this.getData(),
                    i = 0,
                    len = data.cart.length,
                    itemObj,
                    isInCart = false;
                for(i; i < len; ++i) {
                    itemObj = data.cart[i];
                    if(itemObj.id == item.id) {
                        itemObj.amount += 1;
                        isInCart = true;
                        break;
                    }
                }
                if(!isInCart) {
                    data.cart.push({
                        id : item.id,
                        amount : 1
                    });
                }
                this.render();
            }.bind(this));
        }

    }
    HTMLDecorators.RegisterComponent('__uid__', CartHeader);
</script>

<style>

    .card-header {
        padding: 5px;
        border: 1px solid transparent;
        cursor: pointer;
    }

    .card-header:hover {
        border-color: var(--primary-color);
    }

    .card-header a {
        text-decoration: none;
        color: black;
    }

    .card-header span:first-child {
        color: #0069d9;
        font-weight: bold;
        font-size: 16px;
    }

</style>